.document-list {
    padding: 20px;
    background-color: #2f3136; /* Dark background */
    color: #e0e0e0; /* Light text color */
    border-radius: 8px;
    overflow-y: scroll;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.document-header {
    display: grid;
    grid-template-columns:
        minmax(50px, auto) minmax(120px, auto) minmax(300px, auto)
        minmax(120px, auto) minmax(80px, auto) minmax(150px, auto) minmax(200px, auto);
    background-color: #202225; /* Darker header background */
    padding: 10px;
    border-bottom: 1px solid #34373a; /* Slightly lighter border */
    font-weight: 600;
    border-radius: 8px 8px 0 0;
}

.header-item {
    padding: 8px;
    text-align: left;
    color: #b9bbbe; /* Lighter text color for headers */
    white-space: nowrap; /* Prevent text from wrapping */
}

.document-content {
    display: grid;
    grid-template-columns:
        minmax(50px, auto) minmax(120px, auto) minmax(300px, auto)
        minmax(120px, auto) minmax(80px, auto) minmax(150px, auto) minmax(200px, auto);
    gap: 1px;
}

.document-item {
    display: contents;
}

.document-field {
    background-color: #292b2f; /* Slightly lighter dark background for rows */
    padding: 12px;
    border-bottom: 1px solid #34373a; /* Slightly lighter border for rows */
    text-align: left;
    font-size: 14px;
    border-radius: 4px; /* Rounded corners */
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Ellipsis for overflowing text */
}

.document-field a {
    color: #7289da; /* Discord-like blue color for links */
    text-decoration: none;
    white-space: nowrap; /* Prevent link text from wrapping */
}

.document-field a:hover {
    text-decoration: underline;
}

.document-item:nth-child(odd) .document-field {
    background-color: #2f3136; /* Alternating row background */
}

.document-item:hover .document-field {
    background-color: #40444b; /* Hover effect for rows */
    transform: translateY(-2px); /* Subtle lift effect on hover */
}

.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    margin-top: 20px;
}

.items-per-page {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #34373a;
    background-color: #2f3136;
    color: #e0e0e0;
}

.pagination-button {
    padding: 8px 12px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
    background-color: #202225;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button.active,
.pagination-button:hover {
    background-color: #4f545c;
}

.pagination-button:disabled {
    background-color: #40444b;
    cursor: not-allowed;
}
